/venv
/docker-data
.env
**/.idea
**/note.txt
# **/*.json
test*
/jars
**/__pycache__/
.vscode/
*.zip
send_kafka.py
log
# Ignore Gradle project-specific cache directory
**/.gradle

# Ignore Gradle build output directory
**/build
**/pytest_cache