networks:
  project-net:
    driver: bridge

services:
  kafka:
    image: apache/kafka:4.0.1
    container_name: kafka
    hostname: kafka
    ports:
      - "9092:9092"
      - "9093:9093"
    environment:
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller
      # - KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_LISTENERS=PLAINTEXT_INTERNAL://0.0.0.0:29092,PLAINTEXT_EXTERNAL://0.0.0.0:9092,CONTROLLER://:9093
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT_INTERNAL://kafka:29092,PLAINTEXT_EXTERNAL://localhost:9092
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT_INTERNAL:PLAINTEXT,PLAINTEXT_EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT

      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT_INTERNAL
      # <node.id>@<host>:<controller_port> -> thành viên với node.id trên <host>:<controller_port> tham gia vote
      # nếu chạy nhiều node KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka1:9093,2@kafka2:9093,3@kafka3:9093
      # Mọi node đóng vai trò controller đều phải có KAFKA_CONTROLLER_QUORUM_VOTERS
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093

      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
    networks:
      - project-net
    extra_hosts:
      - "host.docker.internal:host-gateway"
  kafdrop:
    image: obsidiandynamics/kafdrop:4.2.0
    container_name: kafdrop
    ports:
      - "9020:9000"
    environment:
      - KAFKA_BROKERCONNECT=kafka:29092
      # - JVM_OPTS="-Xms32M -Xmx64M"
    networks:
      - project-net

  jobmanager:
    hostname: jobmanager
    build:
      context: .
      dockerfile: ./dockerfiles/flink.dockerfile
    container_name: jobmanager
    networks:
      - project-net
    ports:
      - "8081:8081"
      - "9249:9249"
    environment:
      - JOB_MANAGER_RPC_ADDRESS=jobmanager
      - | 
        FLINK_PROPERTIES=jobmanager.rpc.address: jobmanager
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 1gb
    command: jobmanager
    volumes:
      - ./:/opt/flink/jobs
      - ./conf/flink-conf.yaml:/opt/flink/conf/flink-conf.yaml

  taskmanager:
    build:
      context: .
      dockerfile: ./dockerfiles/flink.dockerfile
    container_name: taskmanager
    depends_on:
      - jobmanager
    command: taskmanager
    volumes:
      - ./conf/flink-conf.yaml:/opt/flink/conf/flink-conf.yaml
    networks:
      - project-net
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 1gb

  kafka-init:
    image: apache/kafka:4.1.0
    depends_on:
      - kafka
    command: |
      /opt/kafka/bin/kafka-topics.sh --create --if-not-exists --topic raw-trade-topic --bootstrap-server kafka:29092 ;
      /opt/kafka/bin/kafka-topics.sh --create --if-not-exists --topic processed-trade-topic --bootstrap-server kafka:29092 ;
    networks:
      - project-net
  minio:
    image: minio/minio
    container_name: minio
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=password
      - MINIO_DOMAIN=minio
    networks:
      - project-net
    ports:
      - "9001:9001"
      - "9000:9000"
    command: [ "server", "/data", "--console-address", ":9001" ]
    volumes:
      - ./docker-data/minio:/data
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 1g

  mc:
    depends_on:
      - minio
    image: minio/mc
    container_name: mc
    networks:
      - project-net
    environment:
      - AWS_ACCESS_KEY_ID=admin
      - AWS_SECRET_ACCESS_KEY=password
      - AWS_REGION=us-east-1
    entrypoint: |
      /bin/sh -c "
      until (/usr/bin/mc alias set minio http://minio:9000 admin password) do echo '...waiting...' && sleep 1; done;
      /usr/bin/mc mb --ignore-existing minio/bronze;
      /usr/bin/mc anonymous set public minio/bronze;
      /usr/bin/mc mb --ignore-existing minio/silver;
      /usr/bin/mc anonymous set public minio/silver;
      /usr/bin/mc mb --ignore-existing minio/gold;
      /usr/bin/mc anonymous set public minio/gold;
      tail -f /dev/null
      "

  mariadb:
    hostname: mariadb
    container_name: mariadb
    image: mariadb:10.5.8
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
      MYSQL_DATABASE: metastore_db
    networks:
      project-net:
    volumes:
      - ./conf/mysql.cnf:/etc/mysql/conf.d/custom.cnf
      - ./docker-data/metastore:/var/lib/mysql

  hive-metastore:
    hostname: hive-metastore
    container_name: hive-metastore
    image: 'bitsondatadev/hive-metastore:latest'
    ports:
      - '9083:9083' # Metastore Thrift
    volumes:
      - ./conf/metastore-site.xml:/opt/apache-hive-metastore-3.0.0-bin/conf/metastore-site.xml:ro
    environment:
      METASTORE_DB_HOSTNAME: mariadb
    depends_on:
      - mariadb
    networks:
      project-net:

  redis:
    container_name: redis
    image: redis:8.2.2
    ports:
      - "6379:6379"
    volumes:
      - ./docker-data/redis:/data
    command: [ "redis-server", "--appendonly", "yes" ]
    networks:
      project-net:

  redis-api:
    container_name: redis-api
    build:
      context: ./redis
      dockerfile: Dockerfile
    ports:
      - "8003:8000"
    depends_on:
      - redis
    networks:
      project-net:


  nifi:
    image: apache/nifi:2.4.0
    container_name: nifi
    networks:
      - project-net
    ports:
      - "8443:8443"
    environment:
      - SINGLE_USER_CREDENTIALS_USERNAME=admin
      - SINGLE_USER_CREDENTIALS_PASSWORD=nifi1234@Abc
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1g

  node_exporter:
    image: prom/node-exporter:v1.10.2
    container_name: node_exporter
    command:
      - '--path.rootfs=/host'
    pid: host
    volumes:
      - '/:/host:ro'
    networks:
      - project-net

  prometheus:
    image: prom/prometheus:v3.7.3
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      # Take up prometheus config file
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./docker-data/prometheus:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    networks:
      - project-net

  grafana:
    image: grafana/grafana:12.3.0-19020365962
    container_name: grafana
    volumes:
      - ./docker-data/grafana:/var/lib/grafana
    ports:
      - "5000:3000"
    networks:
      - project-net